<div class="heads">
        
        <div class="infos">
            <span class="releId" style="display: none;">{{ massage.id }}</span>
            <span class="authors" style="color: tomato;">{{ massage.nickname }}</span>
            <img src="{{ massage.avatar }}" id="avatar">
            <span class="dat">{{ massage.date }}</span>
            <!-- 浏览量 -->
            <span class="brow">浏览量: {{ massage.browse }}</span>
            <h3 class="titles">{{ massage.title }}</h3>
        </div>
</div>
<div class="cons">
    <p>{{ massage.main }}</p>
    <img src="{{ massage.img }}" style="position: absolute;">

</div>
   
