<div class="title">
        <h4>财务明细</h4>
        <p class="tips">错误信息</p>
        
    </div>
    <div class="finance-main">
        <div class="finance-head">
           <div class="finance-date">
                
                <div>
                        <span style="font-size: 15px;font-weight: bold;">当前日期：</span>
                        <input type="text" id="date2" class="layui-input">
                </div>
                <div>
                        <span style="font-size: 15px;font-weight: bold;">范围查找：</span>
                        <input type="text" id="date" class="layui-input">
                </div>
                <div>
                        <a href="javascript:;" class="allFinance">
                                查看全部
                        </a>
                </div>
               
            </div>
                <div class="finance-pri">
                        <div>
                                <span>总计收入: ￥</span><span class="allFina" style="color: rgb(76, 243, 165);""></span>
                        </div>
                        <div>
                                <span>当天收入: ￥</span><span class="dayFina" style="color: rgb(76, 243, 165);""></span>
                        </div>
                </div>
        </div>
        <!-- 订单流水 -->
        <ul class="finance-list-head">
                <li>订单编号</li>
                <li>用户昵称</li>
                <li>联系方式</li>
                <li >地址</li>
                <li>订单总价</li>
                <li>付款时间</li>
                <li>收入</li>
        </ul>
        <div class="finance-foot">
           
        </div>
    </div>